<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>取票页面</title>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<div class="continer">
		<div class="img">
			<img src="/image/title.png">
		</div>
		<div class="txt">
			<div class="txtleft">
				<p>金鸡百花电影节学院奖观众最喜爱短片<圆梦></p>
				<p>金核奖最佳女演员奖<夜色温柔></p>
				<p>平遥国际电影展入围作品<山无棱天地合></p>
				<p>山西省第一位院线片女性导演</p>
			</div>
			<div class="textright">
				<p>12月17日</p>
				<p>大数据学院云顶报告厅</p>
			</div>
		</div>
		<div class="num">
			<p>姓名:&nbsp;<span><%= info[0].name%></span></p>
			<p>编号:&nbsp;<span><%= info[0].ID%></span></p>
		</div>
		<div class="logo">
			<img src="/image/logo.png">
		</div>
	</div>
</body>
</html>